
@{
    ViewBag.Title = "InstructorIndex";
}

<h2>InstructorIndex</h2>
<p>
    This page will be used to make instructor classrooms and make recommondations for internships.

    Morning Softworks- Software company looking to hire developers, 3-d modelers, and artists to work on different software for computer games.  Will need experience within Unity, Blender, and other software involving art, design, music, and many other software.

    Metal and Roses - Iron Works company that creates art with welding and various other metals in order to meet customer demands.  Currently looking for a web designer/developer help create a web based application for their company in order to further expand their company

    University of Burlotos - University that is teaching the next generation of students to use their creativity with their art program.  Looking for interns that want to further their career within the field of I.T. either with project management or development.

    The Dog Butler’s Day Care - Dog Day care for the average dog owner that needs their pets groomed or left on the premises for a day in order for their owners to do work.  Currently looking for an intro developer/cyber security undergrad that is willing to work on a team with experienced developers to help strengthen their security and design for online payments from customers.

    Bista Inc. - Web Developer contracting firm that works on creating websites for clients that want to further improve their websites designs or just completely rebuild from scratch.  Looking for a web designer to work with our senior developers in order to improve websites.

</p>

<button type="button" onclick="location.href"='@Url.Action("Add","Remove")'"></button>
