
<nav class="navbar navbar-default" style="margin-top:2rem;">
    <div class="container-fluid">
        <ul class="nav navbar-nav menu_items">
            <li class="menu-item">@Html.ActionLink("Home", "Home", null, new { id = "stuHome" })</li>
            <li class="menu-item">@Html.ActionLink("Open Internships", "OpenInternships", null, new { id = "stuOpen" })</li>
            <li class="menu-item">@Html.ActionLink("My Internships", "ActiveInternships", null, new { id = "stuActive" })</li>
            <li class="menu-item">@Html.ActionLink("Saved Internships", "SavedInternships", null, new { id = "stuSaved" })</li>
        </ul>
    </div>
</nav>

   