
<nav class="navbar " style="margin-top:4rem;">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified menu_items">
            <li class="menu-item">@Html.ActionLink("Home", "Home", "Admin", new { area = "AdminSection" }, new { id = "adminHome" })</li>
            <li class="menu-item">@Html.ActionLink("Upload", "Upload", "Admin", new { area = "AdminSection" }, new { id = "adminUpload" })</li>
            
        </ul>
    </div>
</nav>