@{
    ViewBag.Title = "Fighting Mongooses Internship Helper";
}
<h2>@ViewBag.Title.</h2>

<p>This world-leading application is for interns, students who are potential interns, and employers providing internships, as well as instructors to revise information regarding internship-pertinent grades.</p>
<p>Regardless of which of the above criteria you fit, we mongooses hope you find what you're looking for here</p>