@{
    ViewBag.Title = "Fighting Mongooses Internship Helper";
}
<h2>@ViewBag.Title.</h2>

<p>CONNECT is an application for individuals that want to be successful in their carrers and make lasting relationships within the buisness world.</p>
<p>Our application serves individuals who are potential interns, providing internships, as well as to revise information regarding internship-pertinent grades.</p>  
<p>We offer this application for free for all individuals that are looking to expand their business or help others further their career. We want to make buisness opportunities quick and easy for students, staff, and employers. </p>
<p>Find the right internship with our search finder and find the right canitdates for your business. We at Mongoose Inc. strive to find that perfect fit for you.</p>
<p>Regardless of what criteria you fit for our application.  We at Mongoose Inc. hope you find what you're looking for here, because together we can CONNECT.</p>