@{
    ViewBag.Title = "Fighting Mongooses Internship Helper";
}
<h2>@ViewBag.Title.</h2>

<p>This application is for interns, students who are potential interns, and employers providing internships, as well as instructors to revise information regarding internship-pertinent grades.</p>
