@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site is for interns, students who are potential interns, and employers providing internships, as well as instructors to revise information regarding internship-pertinent grades.</p>
