@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron test">
    <h1>Fighting Mongooses</h1>
    <p class="lead">The world's leading internship application</p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 text-center border">
        <h2>Student</h2>
        <p>
            For students in an internship, or interested in one.
        </p>
        @Html.ActionLink(HttpUtility.HtmlDecode("STUDENT"), "LandingPage", "Students", new { area = "StudentSection" }, new { @class = "btn btn-info btn-lg" })
    </div>
    <div class="col-md-4 text-center">
        <h2>Employer</h2>
        <p>For employers managing an internship, or looking for students to fill one.</p>
        @Html.ActionLink(HttpUtility.HtmlDecode("EMPLOYER"), "Home", "Employers", new { area = "EmployerSection" }, new { @class = "btn btn-info btn-lg" })
    </div>
    <div class="col-md-4 text-center">
        <h2>Instructor</h2>
        <p>For instructors with a student involved in an internship</p>
        @Html.ActionLink(HttpUtility.HtmlDecode("INSTRUCTOR"), "Index", "Instructors", new { area = "InstructorSection" }, new { @class = "btn btn-info btn-lg" })
    </div>
</div>