@{
    ViewBag.Title = "CONNECT";
}

<div class="jumbotron learn_more">
    <div class="learn_more_text">
        <h1>CONNECT</h1>
        <p class="">The world's leading internship application application</p>
    </div>
    
    <p><a href="Home/About" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
</div>
<div class="link_container">
    <div class="text-center home_link home_link-student">
        <div class="home_link-text">
            <h2>Student</h2>
            <p>
                For students in an internship, or interested in one.
            </p>
            @Html.ActionLink(HttpUtility.HtmlDecode("Register"), "Home", "Students", new { area = "StudentSection" }, new { @class = "btn btn-default" })
        </div>    
    </div>
    <div class="text-center home_link home_link-employer">
        <div class="home_link-text">
            <h2>Employer</h2>
            <p>For employers managing an internship, or looking for students to fill one.</p>
            @Html.ActionLink(HttpUtility.HtmlDecode("Register"), "Home", "Employers", new { area = "EmployerSection" }, new { @class = "btn btn-info" })
        </div>
        
    </div>
</div>