@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron test">
    <h1>Fighting Mongooses</h1>
    <p class="lead">Internship App</p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Student</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p><a class="btn btn-info btn-lg" href="/StudentSection/Students">Student &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><a class="btn btn-info btn-lg" href="/EmployerSection/Employers">Employer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instructor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><a class="btn btn-info btn-lg" href="/InstructorSection/Instructor">Instructor &raquo;</a></p>
    </div>
</div>