@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron test">
    <h1>Fighting Mongooses</h1>
    <p class="lead">Internship App</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Student</h2>
        <p>
            Studwnt section.
            For students in an internship, or interested in one.
        </p>
        <p><a class="btn btn-info btn-lg" href="/StudentSection/Students">Student &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employer</h2>
        <p>For employers managing an internship, or looking for students to fill one.</p>
        <p><a class="btn btn-info btn-lg" href="/EmployerSection/Employers">Employer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instructor</h2>
        <p>For instructors with a student involved in an internship</p>
        <p><a class="btn btn-info btn-lg" href="/InstructorSection/Instructor">Instructor &raquo;</a></p>
    </div>
</div>