body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*please do not remove or edit --------------------------------------------------------------------------- michaels styling*/

a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.learn_more {
    margin-top: 6rem;
    background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%), url(Image/puzzle.jpg);
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.learn_more_text h1{
    font-weight: 900;
    letter-spacing: -7px;
}
.learn_more_text p {
    font-weight: 600;
}

.dashboard-image {
    max-height: 300px;
    border-radius: 10px;
}
.fas.fa-heart{
    margin-left: 10px;
}
i:hover{
    cursor:pointer;
}
.red {
    color: red;
    transition: 200ms ease-in-out;
}


.table tr:nth-child(even) {
    /*background-color: dark;*/
}


.console_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    gap: 4rem;
    
    
}

/*-----------------User Dashboard--------------------------------- */
.dashboard_info_panel{
    min-height: 70vh;
}
.dashboard_info_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 6rem;
    gap: 2rem;
}
.dashboard_info_heading{
    display: flex;
    justify-content: space-between;
}
.dashboard_view_profile{
    color: white;
}
.dashboard_view_profile:hover {
    color: white;
}
/*----------------------------end user dashboard---------------------------------*/

/*------------------------------login styling--------------------------------------------*/
.login_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .login_container .list {
        margin: 2rem
    }

    span.developer {
        float: right;
        display: inline-block;
    }
/*------------------------------End login styling--------------------------------------------*/

/*-------------------Internship list styling--------------------------------------------------------- */
.internship_container{
    margin-top: 2rem;
    flex-direction: column;
    display: flex;
    gap: 2rem;
}
.internship_block {
    width: 100%;
    transition: all .2s ease-in-out;
}
.internship_block:hover {
    /*transform: scale(1.05);*/
}
.internship_panel_heading{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*grid-template-columns: repeat(4, 1fr);*/
    column-gap:2rem;
    
}
.internship_panel_heading > .last {
    align-self: end;
}
.internship_panel_body {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    overflow: hidden;
    max-height: 150px;
}

.internship_panel_body:before, .internship_panel_body::after{
        content: none;
}
.internship_panel_major {
    width: 200px;
    
}
.internship_panel_body_description {
    text-overflow: ellipsis;
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
}
.internship_buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
}
.internship_button{
   
}


.student_search_nav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
}

.student_search{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
/*-------------------Internship Details styling--------------------------------------------------------- */
.internship_details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}
.internship_details_info{
     max-width: 600px;
 }
 .internship_details_photo{
     align-self: center;
 }

/*-------------------Student Open Internships--------------------------------------------------------- */

.studentFilterArea{
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.studentFilterAreaSearch {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:1rem;
}
.studentFilterAreaMajor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}
.studentOpenInternshipImage{
    width:100px;
}
.studentOpenInternshipEmployer{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 150px;
}



/*end ---------------------------- michaels ---------------------------------------------- sytling*/