body {
    padding-top: 50px;
    
    background-image: linear-gradient(#312323,#8D8B8B);
    min-height:100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
    background-color: #222222;
    margin-top: 30px;
    margin-bottom: 15px;
    
    border-radius: 6px;
    min-height: 80vh;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*please do not remove or edit --------------------------------------------------------------------------- michaels styling*/

a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.sub-icon{
    background-color: #FFFFFF;
}
.learn_more {
    
    margin-bottom: 15px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%), url(Image/network.jpg);
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.learn_more_text h1{
    font-weight: 900;
    letter-spacing: -7px;
}
.learn_more_text p {
    font-weight: 600;
}

.dashboard-image {
    max-width: 300px;
    border-radius: 12px;
}
.fas.fa-heart{
    margin-left: 10px;
}
i:hover{
    cursor:pointer;
}
.red {
    color: red;
    transition: 200ms ease-in-out;
}


.table tr:nth-child(even) {
    /*background-color: dark;*/
}


.console_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    gap: 4rem;
    
    
}

/*-----------------User Dashboard--------------------------------- */
.dashboard_info_panel{
    min-height: 60vh;
}
.dashboard_info_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 6rem;
    gap: 2rem;
}
.dashboard_info_heading{
    display: flex;
    justify-content: space-between;
}
.dashboard_view_profile{
    color: white;
}
.dashboard_view_profile:hover {
    color: white;
}
/*----------------------------end user dashboard---------------------------------*/

/*------------------------------login styling--------------------------------------------*/
.login_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .login_container .list {
        margin: 2rem
    }

    /*span.developer {
        float: right;
        display: inline-block;
    }*/
/*------------------------------End login styling--------------------------------------------*/

/*-------------------Internship list styling--------------------------------------------------------- */
.internship_container{
    margin-top: 2rem;
    flex-direction: column;
    display: flex;
    gap: 2rem;
}
.internship_block {
    width: 100%;
    transition: all .2s ease-in-out;
}
.internship_block:hover {
    /*transform: scale(1.05);*/
}
.internship_panel_heading{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap:2rem;
    
}
.internship_panel_heading > .last {
   /* align-self: end;*/
}
.internship_panel_body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    overflow: hidden;
    /*max-height: 150px;*/
}
    

.internship_panel_body:before, .internship_panel_body::after{
        content: none;
}
.internship_panel_major {
    width: 200px;
    
}
.internship_panel_body_description {
    text-overflow: ellipsis;
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
}
.internship_buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
}
.internship_button{
   
}


.student_search_nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
}

.student_search{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
/*-------------------Internship Details styling--------------------------------------------------------- */
.internship_details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}
.internship_details_info{
     max-width: 600px;
 }
 .internship_details_photo{
     align-self: center;
     max-width: 300px;
 }
 .addChange{
    margin-top:.25rem;
 }

/*-------------------Student Open Internships--------------------------------------------------------- */

.studentFilterArea{
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.studentFilterAreaSearch {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:1rem;
}
.studentFilterAreaMajor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}
.studentOpenInternshipEmployer {
 /*   display: flex;
    flex-direction: column;
    gap: .5rem;*/
    max-width: 150px;
}
.studentOpenInternshipImage {
    /* max-height:100%;
    width:100%;
    object-fit: cover;*/
    float: left;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius:6px;
}

/*-------------------------------main page---------------------------------------------------*/
.link_container{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    
}
.home_link {
    
    height: 400px;
    border-radius: 6px;
    flex-grow:1;
    
}
.home_link-student{
    background-image: url(Image/students.jpg);
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_link-employer {
    background-image: url(Image/employer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_link-text {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 2rem 2rem 2rem;
    height: 200px;
    max-width: 300px;
    text-transform: uppercase;
}

/*-------------------------------ADMIN-----------------------------*/
.admin-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 2rem;
}
/*-----------------------------------MEDIA Queries------------------------------------------*/

.sub_nav_brand{
    display:none;
}
@media only screen and (max-width: 767px) {
    .sub-nav {
        background-color: #375a7f;
        border-color: #375a7f;
        border-radius: 6px;

    }
    .internship_details{
        flex-direction: column-reverse;
    }
    .body-content{
        margin: 30px 10px 10px 10px;
    }
    .sub_nav_brand{
        display:block;
    }
    .internship_panel_body{
        justify-content: center;

    }
    .internship_buttons{
        flex-direction:row;
    }
}


/*end ---------------------------- michaels ---------------------------------------------- sytling*/


/*
    Layout Styles
*/

/*NAV*/
.main-header{
    display: none;
}
/*.main-nav {
    background-color: #979797;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 2px;
}*/


/*Footer Elements*/
footer {
    background-color: #979797;
    color: black;
    /*height: 110px;*/
    align-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    border: 1px solid #312323;
    border-radius: 6px;
    margin-bottom: 20px;
   
}

/*Social Network Symbols*/
.fa {
    padding: 5px;
    font-size: 12px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

    .fa:hover {
        opacity: 0.8;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-pinterest {
    background: #C8232C;
    color: white;
}

