body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.test {
    margin-top: 3rem;
    background: linear-gradient(#e66465, #9198e5);
}



/*please do not remove, michaels test css*/
.profile-image {
    max-width:300px;
}
/*input[type="file"] {
    display: none;
}
.custom-upload {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
    .custom-upload:hover {
        background-color: #e0e0e0;
        background-position: 0 -15px;
    }*/
.console_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50vh;
    align-content: center;
    align-items: stretch;
    background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #f8f8f8 100%)
}