@model IEnumerable<mongoose.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>WELCOME</h2>
<h1>@ViewBag.LoggedIn</h1>
@Html.ActionLink("View/Edit Profile", "Details", new { id = ViewBag.EditProfile })


