@{
    ViewBag.Title = "Student Home Page";
}

<div class="jumbotron test">
    <h1>Fighting Mongooses</h1>
    <p class="lead">Internship App</p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 text-center border">
        <h2>Active Internshipt</h2>
        <p>
            For students in an internship.
        </p>
        @Html.ActionLink(HttpUtility.HtmlDecode("ACTIVE INTERNSHIP(S)"), "AciveInternships", "Students", new { @class = "btn btn-info btn-lg" })
    </div>
    <div class="col-md-4 text-center">
        <h2>Open Internships</h2>
        <p>
            For students interested in finding an internship.
        </p>
        @Html.ActionLink(HttpUtility.HtmlDecode("OPEN INTERNSHIPS(S)"), "OpenInternships", "Students", new { @class = "btn btn-info btn-lg" })
    </div>
    <div class="col-md-4 text-center">
        <h2>Edit Info</h2>
        <p>For students who would like to edit their credentials or contact info</p>
        @Html.ActionLink(HttpUtility.HtmlDecode("EDIT INFO"), "Edit", "Students", new { @class = "btn btn-info btn-lg" })
    </div>
</div>
