@model IEnumerable<mongoose.Models.Internship>

@{
    ViewBag.Title = "Open Interships";
}
@Html.Partial("_studentNav")
<h2>OPEN INTERNSHIPS</h2>



&nbsp;&nbsp;&nbsp;<label class="filter">Filter by</label>&nbsp;&nbsp;&nbsp;<label class="filter">Employer</label>&nbsp;&nbsp;&nbsp;
@Html.DropDownList("EmployerList", null, htmlAttributes: new { @class = "filter", @onchange = "openByEmployer();" })
<div id="openInternshipContainer">
    @Html.Partial("_Open", Model)
</div>




