@*@model IEnumerable<mongoose.Models.Employer>*@



    @Html.Partial("_employerNav")
    @{
        ViewBag.Title = "HOME";
    }
    <h2>WELCOME</h2>
    <h1>@ViewBag.LoggedIn</h1>
    @Html.ActionLink("View/Edit Profile", "Details", new { id = ViewBag.EditProfile })


