
@{
    ViewBag.Title = "ProfilePicture";
}

<h2>ProfilePicture</h2>
@if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("~/Content/Images/Profile/" + ViewBag.UserId + ".jpg"))) //will need to change path for file server
{
    <div class="profile-image_container">
        <img src="@Url.Content(String.Format("~/Content/Images/Profile/" + ViewBag.UserId + ".jpg"))" class="profile-image" />
    </div>

}
@using (Html.BeginForm("ProfilePicture", "Employers", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    <label class="custom-upload" for="file">Add/Change Image</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    <br />
    <input type="submit" value="Upload" class="submit btn btn-default" />

}
@Html.ActionLink("Back", "Home")

