
<nav class="navbar navbar-default" style="margin-top:2rem;">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active">@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("Open Internships", "OpenInternships")</li>
            <li>@Html.ActionLink("Active Internships", "ActiveInterships")</li>
        </ul>
    </div>
</nav>

   