
<nav class="navbar navbar-default" style="margin-top:2rem;">
    <div class="container-fluid">
        <ul class="nav navbar-nav menu_items">
            <li class="menu-item">@Html.ActionLink("Home", "Home",null, new {id="empHome"})</li>
            <li class="menu-item">@Html.ActionLink("Open Internships", "OpenInternships", null, new {id= "empOpen"})</li>
            <li class="menu-item">@Html.ActionLink("Active Internships", "ActiveInternships", null, new { id = "empActive" })</li>
        </ul>
    </div>
</nav>

   