
<nav class="navbar" style="margin-top:4rem;">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified menu_items">
            <li class="menu-item">@Html.ActionLink("Home", "Home", null, new { id = "Home" })</li>
            <li class="menu-item">@Html.ActionLink("Open Internships", "OpenInternships", null, new { id = "OpenInternships" })</li>
            <li class="menu-item">@Html.ActionLink("Active Interns", "ActiveInternships", null, new { id = "ActiveInternships" })</li>
            <li class="menu-item">@Html.ActionLink("Student Search", "StudentSearch", null, new { id = "StudentSearch" })</li>
        </ul>
    </div>
</nav>

   