@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="jumbotron test">
        <h1>Fighting Mongooses</h1>
        <p class="lead">Internship - Student Section</p>
        <p></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Student</h2>
            <p>
                Studwnt section.
                To add your information or edit your existing info
            </p>
            <p><a class="btn btn-info btn-lg" href="/StudentSection/Students">Student Information&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Unfilled Internships</h2>
            <p>For browsing listings of internships that are potentially available, from employers.</p>
            <p><a class="btn btn-info btn-lg" href="/StudentSection/Students">Unfilled Internships &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Active Internships</h2>
            <p>For browsing and editing internships that students are currently involved in</p>
            <p><a class="btn btn-info btn-lg" href="/StudentSection/Students">Active Internships &raquo;</a></p>
        </div>
    </div>
</body>
</html>
